extends ./includes/layout.pug

block metatags
  title= title
  meta(name="d escription", content=description)

block content
  .wrapper
    aside.aside
      h1.aside__title To-Do List
      p.aside-whoami
        | By #[a.aside-whoami__link(href="https://twitter.com/JorgeBarron28", target="_blank") @JorgeBarron28]

      p.aside-description
        | Todo list creado con curso
        | #[a.aside-description__link(href="https://ed.team/cursos/js-paradigmas", target="_blank") JavaScript Avanzado - Paradigmas de programación]
        | de #[a.aside-description__link(href="https://ed.team/" target="_blank") EdTeam].

      ul.social-networks
        li.social-networks__item: a.social-networks__link(href="https://www.linkedin.com/in/jorgebarron1/" target="_blank")
          | <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"><path class="a" d="M14.187 10.297a1.918 1.918 0 0 0-1.743.961v-.824H10.51c.025.545 0 5.82 0 5.82h1.934v-3.257a1.3 1.3 0 0 1 .063-.472 1.059 1.059 0 0 1 .993-.708c.7 0 .98.534.98 1.317v3.114h1.935v-3.335c-.001-1.786-.955-2.616-2.228-2.616zm-1.744.981h-.012a.145.145 0 0 0 .012-.02zM7.503 10.432h1.934v5.82H7.503z"/><path class="a" d="M12 0a12 12 0 1 0 12 12A12.014 12.014 0 0 0 12 0zm6.363 17.428a.935.935 0 0 1-.947.923H6.5a.935.935 0 0 1-.946-.923V6.386a.935.935 0 0 1 .946-.924h10.917a.936.936 0 0 1 .947.923v11.043z"/><path class="a" d="M8.483 7.626a1.008 1.008 0 1 0-.026 2.011h.013a1.009 1.009 0 1 0 .013-2.011z"/></svg>
        li.social-networks__item: a.social-networks__link(href="https://github.com/jorge8168711" target="_blank")
          | <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 23.413" width="24"><path class="a" d="M22.39 5.977a11.948 11.948 0 0 0-4.367-4.367A11.737 11.737 0 0 0 12 0a11.738 11.738 0 0 0-6.023 1.609A11.946 11.946 0 0 0 1.61 5.976 11.738 11.738 0 0 0 0 12a11.662 11.662 0 0 0 2.289 7.055A11.753 11.753 0 0 0 8.2 23.39a.7.7 0 0 0 .625-.109.611.611 0 0 0 .2-.469l-.008-.844q-.008-.797-.008-1.39l-.359.062a4.584 4.584 0 0 1-.867.055 6.607 6.607 0 0 1-1.083-.109 2.427 2.427 0 0 1-1.047-.468 1.983 1.983 0 0 1-.687-.961l-.156-.36a3.9 3.9 0 0 0-.492-.8 1.885 1.885 0 0 0-.68-.594l-.109-.078a1.147 1.147 0 0 1-.2-.188.857.857 0 0 1-.141-.219q-.047-.11.078-.18a1.013 1.013 0 0 1 .453-.07l.312.047a2.281 2.281 0 0 1 .773.375 2.522 2.522 0 0 1 .758.812 2.754 2.754 0 0 0 .867.977 1.84 1.84 0 0 0 1.023.336 4.443 4.443 0 0 0 .891-.078 3.108 3.108 0 0 0 .7-.235 2.532 2.532 0 0 1 .766-1.61 10.7 10.7 0 0 1-1.6-.281 6.377 6.377 0 0 1-1.469-.61 4.206 4.206 0 0 1-1.258-1.047 5.031 5.031 0 0 1-.82-1.641 7.8 7.8 0 0 1-.32-2.344 4.557 4.557 0 0 1 1.236-3.214 4.2 4.2 0 0 1 .109-3.187 2.189 2.189 0 0 1 1.344.211 9.4 9.4 0 0 1 1.3.6q.414.25.664.422a11.284 11.284 0 0 1 6 0l.594-.375a8.409 8.409 0 0 1 1.437-.688 2.048 2.048 0 0 1 1.266-.172 4.16 4.16 0 0 1 .125 3.187 4.558 4.558 0 0 1 1.235 3.219 7.889 7.889 0 0 1-.32 2.351 4.835 4.835 0 0 1-.828 1.641 4.368 4.368 0 0 1-1.266 1.039 6.389 6.389 0 0 1-1.469.609 10.688 10.688 0 0 1-1.6.282 2.783 2.783 0 0 1 .812 2.219v3.3a.622.622 0 0 0 .2.469.679.679 0 0 0 .617.109 11.751 11.751 0 0 0 5.914-4.336A11.664 11.664 0 0 0 24 11.999a11.748 11.748 0 0 0-1.61-6.022z"/></svg>

    main.todo
      input#taskInput.task-input(type="text" placeholder="Add something..." spellcheck)
      p.error-message#errorMessage

      h2.todo-list-title TO-DO
      ul#todoList.todo-list

