extends ./includes/layout.pug

block metatags
  title= title
  meta(name="description", content=description)

block content
  main.todo
    input#taskInput.task-input(type="text" placeholder="Tarea..." spellcheck)
    ul#todoList.todo-list

